:root {
  --content-grid-gap: var(--content-grid-gap);
}
@media (width < 768px) {
  :root {
    --content-grid-gap: var(--cn-grid);
  }
}


.content-grid {
  --_breakout-size: calc(
    (var(--cn-breakout-max-width) - var(--cn-content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--content-grid-gap), 1fr)
    [breakout-start] minmax(0, var(--_breakout-size))
    [content-start] min(
      100% - (var(--content-grid-gap) * 2),
      var(--cn-content-max-width)
    )
    [content-end]
    minmax(0, var(--_breakout-size)) [breakout-end]
    minmax(var(--content-grid-gap), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .card-grid, .content-columns),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
  padding: 0 var(--content-grid-gap);
}
.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}
.content-grid > .card-grid {
  grid-column: full-width;
  padding: var(--content-grid-gap);
}
.content-grid > .content-columns {
  grid-column: full-width;
}