.elevation-1 {
  background: var(--background-elevation-1);
  box-shadow: var(--shadow-elevation-1);
}
.elevation-2 {
  background: var(--background-elevation-2);
  box-shadow: var(--shadow-elevation-2);
}
.elevation-3 {
  background: var(--background-elevation-3);
  box-shadow: var(--shadow-elevation-3);
}
.elevation-4 {
  background: var(--background-elevation-4);
  box-shadow: var(--shadow-elevation-4);
}
