.elevation-1 {
  background: var(--cn-elevation-1);
}
.elevation-2 {
  background: var(--cn-elevation-2);
}
.elevation-3 {
  background: var(--cn-elevation-3);
}
.elevation-4{ 
  background: var(--cn-elevation-4);
}