.flex {
  display: flex;
  gap: var(--cn-gap);
  flex-wrap: wrap;
}
.flex > * {
  flex: 1 1 auto;
}
.flex-col {
  flex-direction: column;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-none {
  flex: none;
}
.grow {
  flex-grow: 1 !important;
}
.shrink {
  flex-shrink: 1 !important;
}
.flex.items-center {
  align-items: center;
  justify-content: center;
}
.flex.items-center > * {
  flex-grow: 0;
}
