/*.justify-self-auto{
  justify-self: auto;
}
.justify-self-start{
  justify-self: start;
}
.justify-self-end{
  justify-self: end;
}*/
.justify-self-center {
  justify-self: center;
  flex-grow: 0;
}
/*.justify-self-stretch{
  justify-self: stretch;
}*/
.justify-end {
  justify-content: flex-end !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.align-center {
  align-items: center;
}
