.m-0 {
  margin: 0;
}
.m-1 {
    margin: var(--cn-grid-size);
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-1 {
    margin-top: var(--cn-grid-size);
    margin-bottom: var(--cn-grid-size);
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: var(--cn-grid-size);
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: var(--cn-grid-size);
}