/**
 * This is a CSS file for the editor container.
 *
 * Note that the container takes up the full viewport, minus the sidecart, if any
 */

.content-editor {
  /* The Editor takes up the full height of the viewport */
  height: calc(100dvh - var(--cn-app-bar-height));
  /* The Editor takes up the full width of the viewport */
  width: 100cqw;
  /* We are inside a main container, so we can use relative units */
  padding: var(--cn-grid);
  container: editor / inline-size;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content-editor .toolbar {
  /* The toolbar has default padding, so we need to remove it */
  padding: 0;
  flex-shrink: 0;
}
.content-editor > cn-editor {
  flex-grow: 1; /* Allows cn-editor's slot to take available vertical space */
  /* Alternatively, use shorthand: flex: 1; (which implies flex-shrink: 1, flex-basis: 0%) */
  min-height: 0;
}

@media screen and (min-width: 621px) {
  .content-editor {
    width: min(100cqw, calc(120 * var(--cn-grid)));
    margin: 0 auto;
  }
}
