:root

  --cn-width-rail: 80px
  --cn-border-radius: calc(var(--cn-grid) * 1.5)
  --border-radius: var(--cn-border-radius)
  --cn-border-radius-small: var(--cn-grid)
  --cn-border-radius-field: 0 calc(var(--cn-grid) * 1.5) 0 0 
  --cn-border-radius-large: calc(var(--cn-grid) * 3)
  --cn-border-width: 1px
  --cn-border: 1px solid var(--chroma-surface-70)

  --cn-app-bar-height: 64px

  /* App rail, tray, etc */
  --cn-rail-width: calc(var(--cn-grid) * 10)
  --cn-tray-width: calc(var(--cn-grid) * 32)

  /* content area */
  --cn-content-max-width: 58ch
  --cn-breakout-width: calc(4 * var(--cn-gap))
  --cn-breakout-max-width: calc(var(--cn-breakout-width) + var(--cn-content-max-width))

  /* Theming */
  --cn-color-key: #002337

  /* Typography */
  --cn-font-size-small: 0.8em

  --cn-card-width: calc(34 * var(--cn-grid))

  /** Z-Index */
  --z-index-base: 10000
  --z-index-bar: calc(2 * var(--z-index-base))
  --z-index-tray: calc(3 * var(--z-index-base))
  --z-index-rail: calc(4 * var(--z-index-base))
  --z-index-tray-button: calc(5 * var(--z-index-base))
  --cn-z-index-dialog: calc(6 * var(--z-index-base))
  --z-index-snackbar: calc(7 * var(--z-index-base))