:root
  --cn-grid-size: 0.5rem
  --cn-gap: calc(var(--cn-grid-size) * 2)
  --cn-width-rail: 80px
  --cn-border-radius: calc(var(--cn-grid-size) * 1.5)

  /* App Bar */
  --cn-app-bar-height: 64px

  /* content area */
  --cn-content-max-width: 58ch
  --cn-breakout-width: calc(4 * var(--cn-gap))
  --cn-breakout-max-width: calc(var(--cn-breakout-width) + var(--cn-content-max-width))

  /* Theming */
  --cn-color-key: #002337

  /* Typography */
  --cn-font-size-small: 0.8em
