@mixin theme-dark
  /* Surface colors */
  --color-primary: var(--chroma-S-K)
  --color-primary-hsl: var(--chroma-S-K-hsl)
  --color-on-primary: var(--chroma-K-S)
  --color-on-primary-hsl: var(--chroma-K-S-hsl)
  --color-alert: var(--chroma-A)

  --color-notify: var(--chroma-primary-20)
  --color-on-notify: var(--chroma-primary-95)

  /* Text colors */
  --color-text: hsla(var(--chroma-K-S-hsl), 0.82)
  --color-text-low-emphasis: hsla(var(--chroma-K-S-hsl), 0.68)
  --color-text-disabled: hsla(var(--chroma-K-S-hsl), 0.38)

  --color-heading-1: var(--chroma-K-S)
  --color-heading-2: var(--chroma-surface-30)

  --color-link: var(--chroma-surface-60)
  --color-link-hover: var(--chroma-surface-30)
  --color-link-active: var(--chroma-surface-70)

  /* Separators */
  --color-border: var(--chroma-surface-70)

  /* Buttons */
  --color-on-button: var(--chroma-K-S)
  --background-button: linear-gradient(120deg, var(--chroma-surface-70), var(--chroma-surface-80))
  --background-button-hover: linear-gradient(120deg, var(--chroma-surface-60), var(--chroma-surface-80))
  --shadow-button-hover: 0 0 var(--cn-grid) 0 var(--chroma-surface-99)
  --background-button-active: linear-gradient(120deg, var(--chroma-surface-80), var(--chroma-surface-90))
  --background-button-disabled: var(--chroma-surface-80)

  --background-fab: linear-gradient(120deg, var(--chroma-primary-20), var(--chroma-primary-50))
  --background-fab-hover: linear-gradient(120deg, var(--chroma-primary-10), var(--chroma-primary-40))
  --background-fab-active: linear-gradient(120deg, var(--chroma-primary-20), var(--chroma-primary-70))
  --color-on-fab: var(--chroma-S-K)
  --shadow-fab: var(--cn-grid) var(--cn-grid) var(--cn-line) calc(-1 * var(--cn-grid)) var(--chroma-surface-99)

  --cn-background-toggle-button-off: var(--chroma-surface-80)
  --cn-background-toggle-button-on: var(--chroma-primary-90)
  --cn-background-toggle-button-knob-off: var(--chroma-surface-70)
  --cn-background-toggle-button-knob-on: var(--chroma-primary-30)


  --background-nav-bar: linear-gradient(140deg, var(--chroma-surface-70), var(--chroma-surface-80))

  --background-dialog-overlay: color-mix(in hsl, var(--chroma-surface-90), hsla(204deg, 78%, 97%, 0) 22%)

  .fab cn-icon
    color: var(--chroma-S-K)

  .text,
  cn-share-button,
  cn-reaction-button,
  cn-dialog,
  cn-tray-button
    --background-button: hsla(var(--chroma-K-S-hsl), 0.05)
    --background-button-hover: hsla(var(--chroma-K-S-hsl), 0.05)
    --background-button-active: hsla(var(--chroma-K-S-hsl), 0.15)

  .call-to-action
    --color-on-button: var(--chroma-primary-10)
    --background-button: linear-gradient(120deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --background-button-active: linear-gradient(120deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --background-button-hover: linear-gradient(120deg, var(--chroma-primary-50), var(--chroma-primary-80))

  --background-dialog: var(--chroma-primary-90)
  --color-on-dialog: var(--chroma-primary-10)
  --cn-background-dialog-backdrop: hsla(var(--chroma-surface-90-hsl), 0.33)

  
  --color-on-primary-high: var(--chroma-secondary-10)
  --color-on-primary-low: var(--chroma-key-40)

  --color-contrast: var(--chroma-key-30)
  --color-on-contrast: var(--chroma-key-99)

  --cn-color-key: var(--color-on-primary)

  /* Code */
  --cn-color-code: var(--chroma-primary-99)
  --cn-color-on-code: var(--chroma-primary-10)

  /* Borders */
  --cn-color-border: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 33%)
  --cn-color-border-hover: var(--chroma-key-60)
  --cn-color-border-active: var(--chroma-key-50)

  /* Elevation */
  --cn-elevation-1: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 5.5%)
  --cn-shadow-elevation-1: 4px 4px 16px -10px black
  --cn-elevation-2: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 11%)
  --cn-elevation-3: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 16.5%)
  --cn-elevation-4: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 22%)

  --background-elevation-4: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 22%)
  --box-shadow-elevation-4: 8px 8px 32px -4px black

  cn-dialog
    --color-border: var(--chroma-primary-30)
    --cn-elevation-1: color-mix(in hsl, var(--chroma-primary-90), var(--chroma-primary-10) 10%)

  // Bubbles
  --cn-color-bubble: var(--chroma-key-90)
  --cn-color-on-bubble: var(--chroma-key-10)

  --cn-color-reply-bubble: var(--chroma-primary-95)
  --cn-color-on-reply-bubble: var(--chroma-key-10)

  // Links
  --cn-color-link:color-mix(in hsl, var(--color-primary), #a2e4ec 90%)
  --cn-color-link-hover: #a2e4ec

  /* Titles and headings */
  --color-subtitle: var(--color-text-low-emphasis)

  --cn-color-heading-card: color-mix(in hsl, var(--color-primary), var(--chroma-primary-10) 95%) 

  /* Text */
  
  .text-high-emphasis
    color: hsla(var(--chroma-K-S-hsl), 0.95)

  .text-low-emphasis
    color: hsla(var(--chroma-K-S-hsl), 0.75)


  // Forms
  --cn-color-on-field: var(--chroma-key-20)
  --cn-color-field: var(--cn-elevation-1)

  fieldset
    --cn-color-field: var(--cn-elevation-2)

  --cn-color-on-field-hover: var(--chroma-key-20)
  --cn-color-field-hover: var(--cn-elevation-3)

  --cn-color-on-field-active: var(--chroma-key-20)
  --cn-color-field-active: var(--cn-elevation-2)

  /* Root element theming presets */
  background: var(--color-primary)
  color: var(--color-on-primary)

  /* Buttons */
  ---cn-color-on-button: var(--chroma-key-10)
  --cn-color-button: var(--chroma-key-80)
  --cn-color-button-hover: var(--chroma-key-60)
  --cn-color-button-active: var(--chroma-key-70)
  --cn-color-button-disabled: var(--chroma-key-90)

  --cn-color-nav-button: none
  --cn-color-nav-button-hover: var(--chroma-key-80)
  --cn-color-nav-button-active: var(--chroma-key-90)

  /* App Bar */
  --cn-color-on-app-bar: var(--chroma-key-30)

  --cn-color-on-field-placeholder: var(--chroma-key-50)



  .call-to-action
    --cn-color-button: linear-gradient(79deg, var(--chroma-primary-60), var(--chroma-primary-90))
    --cn-color-button-hover: linear-gradient(79deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --cn-color-button-active: linear-gradient(79deg, var(--chroma-primary-50), var(--chroma-primary-80))
