@mixin theme-light
  --color-primary: white
  --color-on-primary: var(--chroma-key-90)
  --cn-color-key: var(--color-on-primary)

  /* Root element theming presets */
  background: var(--color-primary)
  color: var(--color-on-primary)

  /* headings */
  --cn-color-heading-card: color-mix(in hsl, var(--color-on-primary), var(--chroma-key-40) 50%) 

  /* Elevation */
  --cn-elevation-1: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 5.5%)
  --cn-elevation-2: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 11%)
  --cn-elevation-3: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 16.5%)
  --cn-elevation-4: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 22%)

  .call-to-action
    --cn-color-button: var(--chroma-key-99)
    --cn-background-button: linear-gradient(79deg, var(--chroma-primary-60), var(--chroma-primary-90))
    --cn-background-button-hover: linear-gradient(79deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --cn-background-button-active: linear-gradient(79deg, var(--chroma-primary-50), var(--chroma-primary-80))