@mixin theme-dark
  --color-primary: var(--chroma-key-99)
  --color-on-primary: var(--chroma-key-20)

  --color-contrast: var(--chroma-key-30)
  --color-on-contrast: var(--chroma-key-99)

  --cn-color-key: var(--color-on-primary)

  --cn-color-border: var(--chroma-key-80)
  --cn-color-border-hover: var(--chroma-key-70)
  --cn-color-border-active: var(--chroma-key-40)

  /* Code */
  --cn-color-code: var(--chroma-primary-99)
  --cn-color-on-code: var(--chroma-primary-10)


  /* Elevation */
  --cn-elevation-1: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 5.5%)
  --cn-elevation-2: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 11%)
  --cn-elevation-3: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 16.5%)
  --cn-elevation-4: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 22%)

  /* Titles and headings */
  --cn-color-heading-1: var(--color-on-primary)
  --cn-color-heading-2: var(--color-on-primary)
  --cn-color-heading-3: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 73%) 
  --cn-color-heading-4: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 73%)
  --cn-color-subtitle: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 73%) 


  // Forms
  --cn-color-on-field: var(--chroma-key-20)
  --cn-color-field: var(--cn-elevation-1)

  --cn-color-on-field-hover: var(--chroma-key-20)
  --cn-color-field-hover: var(--cn-elevation-3)

  --cn-color-on-field-active: var(--chroma-key-20)
  --cn-color-field-active: var(--cn-elevation-2)

  /* Root element theming presets */
  background: var(--color-primary)
  color: var(--color-on-primary)

  /* Buttons */
  --cn-color-button: var(--chroma-key-10)
  --cn-background-button: var(--chroma-key-80)
  --cn-background-button-hover: var(--chroma-key-60)
  --cn-background-button-active: var(--chroma-key-70)
  --cn-background-button-disabled: var(--chroma-key-90)

  /* App Bar */
  --cn-color-on-app-bar: var(--chroma-key-30)

  .text,
  cn-share-button
    --cn-background-button: none

  .call-to-action
    --cn-background-button: linear-gradient(79deg, var(--chroma-primary-60), var(--chroma-primary-90))
    --cn-background-button-hover: linear-gradient(79deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --cn-background-button-active: linear-gradient(79deg, var(--chroma-primary-50), var(--chroma-primary-80))

  .elevation-1
    --cn-background-button: var(--chroma-key-70)
    --cn-background-button-hover: var(--chroma-key-60)
    --cn-background-button-active: var(--chroma-key-80)
