@mixin theme-light
  --color-primary: white
  --color-on-primary: var(--chroma-key-90)
  --cn-color-key: var(--color-on-primary)

  /* Root element theming presets */
  background: var(--color-primary)
  color: var(--color-on-primary)

  /* Titles and headings */
  --cn-color-heading-1: var(--color-on-primary)
  --cn-color-heading-2: var(--color-on-primary)
  --cn-color-heading-3: var(--chroma-key-80)
  --cn-color-heading-4: var(--chroma-key-80)
  --cn-color-subtitle: color-mix(in hsl, var(--color-primary), var(--color-on-primary) 73%) 

  --cn-color-heading-card: color-mix(in hsl, var(--color-on-primary), var(--chroma-key-40) 50%) 

  /* Elevation */
  --cn-elevation-1: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 5.5%)
  --cn-shadow-elevation-1: 4px 4px 16px -10px var(--chroma-key-95)
  --cn-elevation-2: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 11%)
  --cn-shadow-elevation-2: 4px 4px 16px -8px var(--chroma-key-95)
  --cn-elevation-3: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 16.5%)
  --cn-shadow-elevation-3: 4px 4px 16px -6px var(--chroma-key-95)
  --cn-elevation-4: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 22%)
  --cn-shadow-elevation-4: 4px 4px 16px -4px var(--chroma-key-95)

  .call-to-action
    --cn-color-button: var(--chroma-key-99)
    --cn-background-button: linear-gradient(79deg, var(--chroma-primary-60), var(--chroma-primary-90))
    --cn-background-button-hover: linear-gradient(79deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --cn-background-button-active: linear-gradient(79deg, var(--chroma-primary-50), var(--chroma-primary-80))

  // Buttons
  --cn-color-nav-button: none
  --cn-color-nav-button-hover: var(--chroma-key-30)
  --cn-color-nav-button-active: var(--chroma-key-20)

  /* Code */
  --cn-color-code: var(--chroma-primary-10)
  --cn-color-on-code: var(--chroma-primary-95)