@mixin theme-dark
  --color-primary: #002337
  --color-on-primary: white
  --cn-color-key: var(--color-on-primary)

  /* Root element theming presets */
  background: var(--color-primary)
  color: var(--color-on-primary)