@mixin theme-light
  /* Surface colors */
  --color-primary: var(--chroma-K-S)
  --color-on-primary: var(--chroma-S-K)
  --color-notify: var(--chroma-primary-95)
  --color-on-notify: var(--chroma-primary-20)
  --color-alert: var(--chroma-A)

  /* Text colors */
  --color-text-low-emphasis: hsla(var(--chroma-S-K-hsl), 0.68)
  --color-text-disabled: hsla(var(--chroma-S-K-hsl), 0.38)

  --color-link: var(--chroma-surface-60)
  --color-link-hover: var(--chroma-surface-50)
  --color-link-active: var(--chroma-surface-70)

  --color-border: var(--chroma-surface-40)

  --color-heading-1: var(--chroma-S-K)
  --color-heading-2: var(--chroma-surface-70)

  /* Buttons */
  --color-on-button: var(--chroma-S-K)
  
  
  --shadow-button-hover: 0 0 var(--cn-grid) 0 var(--chroma-surface-20)
 

  .text,
  cn-share-button,
  cn-reaction-button,
  cn-dialog,
  cn-tray-button,
  cn-lightmode-button
    --background-button: hsla(var(--chroma-S-K-hsl), 0.11)
    --background-button-hover: hsla(var(--chroma-S-K-hsl), 0.065)
    --background-button-active: hsla(var(--chroma-S-K-hsl), 0.22)

  --color-on-dialog: var(--chroma-surface-80)
  --color-on-dialog-header: var(--chroma-surface-60)
  --background-dialog: var(--chroma-surface-10)
  --background-dialog-overlay: color-mix(in hsl, var(--chroma-surface-80) 44%, transparent)


  --background-nav-bar: linear-gradient(140deg, var(--chroma-surface-20), var(--chroma-surface-40))

  /* Separators */
  --color-border: var(--chroma-surface-40)

  /* Titles and headings */
  --color-subtitle: var(--color-text-low-emphasis)

  --cn-color-heading-card: color-mix(in hsl, var(--color-on-primary), var(--chroma-key-40) 50%) 

  /* Elevation */
  --cn-elevation-1: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 5.5%)
  --cn-shadow-elevation-1: 4px 4px 16px -10px var(--chroma-key-95)
  --cn-elevation-2: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 11%)
  --cn-shadow-elevation-2: 4px 4px 16px -8px var(--chroma-key-95)
  --cn-elevation-3: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 16.5%)
  --cn-shadow-elevation-3: 4px 4px 16px -6px var(--chroma-key-95)
  --cn-elevation-4: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 22%)
  --background-elevation-4: color-mix(in hsl, var(--color-primary), var(--chroma-key-70) 22%)
  --box-shadow-elevation-4: 8px 8px 32px -12px var(--chroma-key-90)


  .call-to-action
    --color-on-button: var(--chroma-primary-20)
    --cn-color-button: linear-gradient(79deg, var(--chroma-primary-60), var(--chroma-primary-90))
    --cn-color-button-hover: linear-gradient(79deg, var(--chroma-primary-70), var(--chroma-primary-95))
    --cn-color-button-active: linear-gradient(79deg, var(--chroma-primary-50), var(--chroma-primary-80))

  // Buttons
  --cn-color-nav-button: none
  --cn-color-nav-button-hover: var(--color-link-hover)
  --cn-color-nav-button-active: var(--chroma-surface-20)

  /* Code */
  --cn-color-code: var(--chroma-primary-10)
  --cn-color-on-code: var(--chroma-primary-95)

  // Forms
  --cn-color-on-field: var(--chroma-surface-20)
  --cn-color-field: var(--cn-elevation-1)

  fieldset
    --cn-color-field: var(--cn-elevation-2)