:root {
  --cn-icon-size-xsmall: 1rem;                   /* 16px */
  --cn-icon-size-small: calc(24 / 16 * 1rem);    /* 36px */
  --cn-icon-size: calc(36 / 16 * 1rem);          /* 32px */
  --cn-icon-size-large: calc(72 / 16 * 1rem);    /* 72px */
  --cn-icon-size-xlarge: calc(128 / 16 * 1rem);  /* 128px */
}
