@mixin buttons-dark
  --background-button: linear-gradient(120deg, var(--chroma-surface-70), var(--chroma-surface-80))
  --background-button-hover: linear-gradient(120deg, var(--chroma-surface-60), var(--chroma-surface-80))
  --background-button-active: linear-gradient(120deg, var(--chroma-surface-80), var(--chroma-surface-90))
  --background-button-disabled: var(--chroma-surface-80)

  // Text
  --background-button-text: color-mix(in hsl, var(--chroma-surface-60), transparent 80%)
  --background-button-text-hover: color-mix(in hsl, var(--chroma-surface-60), transparent 70%)
  --background-button-text-active: color-mix(in hsl, var(--chroma-surface-60), transparent 60%)

  // Fabs
  --background-fab: linear-gradient(120deg, var(--chroma-primary-20), var(--chroma-primary-50))
  --background-fab-hover: linear-gradient(120deg, var(--chroma-primary-10), var(--chroma-primary-40))
  --background-fab-active: linear-gradient(120deg, var(--chroma-primary-20), var(--chroma-primary-70))
  --color-on-fab: var(--chroma-S-K)
  --color-on-fab-hover: var(--chroma-S-K)
  --shadow-fab: var(--cn-grid) var(--cn-grid) var(--cn-line) calc(-1 * var(--cn-grid)) var(--chroma-surface-99)
