@mixin inputs-dark

  // --color-field is the main background color for input fields

  --color-field-focus: color-mix(in hsl, var(--color-field), transparent 10%)
  
  // --color-on-field[-*] defines the text color for input fields
  --color-on-field: var(--chroma-K-S)
  --color-on-field-focus: var(--chroma-K-S)
  --color-on-field-hover: var(--chroma-primary-10)
  --color-on-field-placeholder: color-mix(in hsl, transparent, var(--chroma-surface-40) 70%)
  
  // --background-editor is the background color for the cn-editor, we'll
  // set it to --color-field by default
  --background-editor: var(--color-field) 

  --foreground-editor: var(--color-on-field)
  --foreground-editor-focus: var(--color-on-field-focus)
  --foreground-editor-hover: var(--color-on-field-hover)
  --foreground-editor-placeholder: var(--color-on-field-placeholder)
