@mixin text-dark
  // text colors
  --color-text: color-mix(in hsl,transparent, var(--chroma-K-S) 82%)
  --color-text-low-emphasis: color-mix(in hsl,transparent, var(--chroma-K-S) 68%)
  --color-text-disabled: color-mix(in hsl,transparent, var(--chroma-K-S) 38%)

  // Heading colors
  --color-heading-1: var(--chroma-surface-20)
  --color-heading-2: var(--chroma-surface-40)

  // Link colors
  --color-link: var(--chroma-surface-40)
  --color-link-hover: var(--chroma-surface-30)
  --color-link-active: var(--chroma-surface-50)