h1 {
  font-size: var(--cn-heading-1-font-size);
  font-weight: var(--cn-heading-1-font-weight);
  line-height: var(--cn-heading-1-line-height);
}
h1.downscaled {
  font-size: var(--cn-heading-2-font-size);
  font-weight: var(--cn-heading-2-font-weight);
  line-height: var(--cn-heading-2-line-height);
}

/* Eliminate margin-top for first h1 in main/article and main/section */
main article h1:first-child,
main section h1:first-child {
  margin-top: 0;
}
