label {
  color: var(--color-on-surface);
  font-family: var(--cn-font-family-ui);
  font-weight: var(--cn-font-weight-ui);
  font-size: var(--cn-font-size-ui);
  line-height: var(--cn-line-height-ui);
  letter-spacing: var(--cn-letter-spacing-ui);
}