:root
  --cn-font-family-text: 'Open Sans', 'Lato', sans-serif
  --cn-font-size-text: 1rem
  --cn-font-weight-text: 400
  --cn-line-height-text: calc(3 * var(--cn-grid-size))
  --cn-letter-spacing-text: 0.5px
  /* Strong */
  --cn-font-weight-text-strong: 900

.downscaled,
.small,
td, th
  --cn-font-size-text: calc(1rem / 16 * 14)
  --cn-letter-spacing-text: 0.25px

@mixin text_body()
  font-family: var(--cn-font-family-text)
  font-size: var(--cn-font-size-text)
  font-weight: var(--cn-font-weight-text)
  line-height: var(--cn-line-height-text)
  letter-spacing: var(--cn-letter-spacing-text)
  margin-bottom: var(--cn-gap)

main p, .text_body, main td, main th
  @include text_body
  
main p strong, .text_body strong
  font-weight: var(--cn-font-weight-text-strong)