@import '../core/layout-breakpoints'
@import '../typography/heading_4.sass'

header.cn-app-bar
  display: flex
  flex-direction: row
  margin: 0
  padding: 0 var(--cn-grid-size)
  height: calc(var(--cn-grid-size) * 8)
  margin-bottom: var(--cn-grid-size)
  gap: var(--cn-grid-size)
  align-items: space-between
  padding-top: var(--cn-grid-size)

  h2, h3
    @include TypeHeading4
    margin: 0
    line-height: calc(var(--cn-grid-size) * 7)
    height: calc(var(--cn-grid-size) * 7)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis


// If the window is md-or-large, we expext the tray to exist
@include media-query-md-and-up
  header.cn-app-bar
    margin-left: 96px
  body:has(.cn-app-tray:not(:empty)) header.cn-app-bar
    margin-left: 396px