@import '../core/layout-breakpoints'
@import '../typography/heading_4.sass'

header.cn-app-bar
  display: flex
  flex-direction: row
  margin: 0
  padding: 0 var(--cn-grid)
  height: calc(var(--cn-grid) * 8)
  margin-bottom: var(--cn-grid)
  gap: var(--cn-grid)
  align-items: space-between
  padding-top: var(--cn-grid)

  h2, h3
    @include TypeHeading4
    margin: 0
    line-height: calc(var(--cn-grid) * 7)
    height: calc(var(--cn-grid) * 7)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-weight: var(--cn-font-weight-heading-2)

/* on a desktop, and large screens, we need to make room for rail and tray (if visible) */
@include media-query-desktop
  header.cn-app-bar
    margin-left: var(--cn-rail-width)
  body:has(.cn-tray:not(:empty)) header.cn-app-bar
    margin-left: calc(var(--cn-rail-width) + var(--cn-tray-width))