@import '../core/layout-breakpoints'
@import '../typography/heading_4.sass'

cn-tray-button
  z-index: calc(var(--z-index-tray) + 1000)

header.cn-app-bar
  display: flex
  flex-direction: row
  margin: 0
  padding: var(--cn-grid)
  height: calc(var(--cn-grid) * 8)
  margin-bottom: var(--cn-grid)
  gap: var(--cn-grid)
  align-items: center
  z-index: var(--z-index-bar)
  position: relative


  h2, h3
    @include TypeHeading4
    margin: 0
    line-height: calc(var(--cn-grid) * 7)
    height: calc(var(--cn-grid) * 7)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-weight: var(--cn-font-weight-heading-2)
header.cn-app-bar
  cn-tray-button[aria-expanded="true"]
    right: calc(var(--cn-gap) * 1.5)
    position: fixed
    z-index: calc(var(--z-index-tray) + 1000)

header.cn-app-bar.modal
  background: var(--background-modal, red)
  // box-shadow: var(--shadow-elevation-1)
  position: fixed
  top: 0
  width: 100dvw

body:has(header.cn-app-bar.modal) main
  margin-top: calc(var(--cn-grid) * 8)

@include media-query-md-and-up
  header.cn-app-bar
    margin-left: var(--cn-rail-width)
    cn-tray-button[aria-expanded="true"]
      left: calc(var(--cn-tray-width) + var(--cn-gap))
      right: inherit
  header.cn-app-bar.modal
    width: calc(100dvw - var(--cn-rail-width))
    border-radius: 0 0 0 var(--cn-border-radius)

/* on a desktop, and large screens, we need to make room for rail and tray (if visible) */
@include media-query-desktop
  header.cn-app-bar
    margin-left: var(--cn-rail-width)
    transition: margin-left 0.3s ease-in-out  
  body:has(cn-tray-button[aria-expanded="true"]) header.cn-app-bar
    margin-left: calc(var(--cn-rail-width) + var(--cn-tray-width))