button,
a.button
  display: inline-block
  color: var(---cn-color-on-button)
  background: var(--cn-color-button)
    
  // Font and text
  font-family: var(--cn-font-family-ui)
  font-weight: var(--cn-font-weight-ui)
  font-size: var(--cn-font-size-ui)
  line-height: var(--cn-line-height-button, calc(38 / 16 * 1rem))
  /* 38px */
  letter-spacing: var(--cn-letter-spacing-ui)
    
  border-radius: calc(19 / 16 * 1rem)
  border: none
  height: var(--cn-line-height-button, calc(38 / 16 * 1rem))
  margin: 5px 0
  padding: 0 16px
  transition: all 0.3s ease-in-out
  text-decoration: none
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &:hover
    background: var(--cn-color-button-hover)
  &:active
    background: var(--cn-color-button-active)