input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  font-family: var(--cn-font-family-ui);
  font-weight: var(--cn-font-weight-ui);
  font-size: var(--cn-font-size-ui);
  line-height: var(--cn-line-height-ui);
  letter-spacing: var(--cn-letter-spacing-ui);
  color: var(--color-on-surface);
  border: none;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-input);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
  outline: none;
  color: var(--color-on-focus);
  border-bottom: 1px solid var(--color-border-focus);
  background-color: var(--color-input-focus);
}
