@import '../core/layout-breakpoints.sass'

main
  container: main-app-content
  container-type: inline-size
  padding: 0
  color: var(--cn-color-text)

@include media-query-pad-and-up
  main
    container-type: inline-size
    margin-left: var(--cn-rail-width)
  body:has(cn-tray-button[aria-expanded="true"]) main
    margin-left: calc(var(--cn-rail-width) + var(--cn-tray-width) + var(--cn-gap))