select {
  font-family: var(--cn-font-family-ui);
  font-weight: var(--cn-font-weight-ui);
  font-size: var(--cn-font-size-ui);
  line-height: var(--cn-line-height-ui);
  letter-spacing: var(--cn-letter-spacing-ui);
  border: 0;
  position: relative;
  transition: all 0.3s ease;
  color: var(--color-on-input);
  background: var(--color-input);
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--cn-border-radius-field);

  height: calc(var(--cn-grid) * 5 - 1px);
  padding-left: calc(var(--cn-grid) * 1);
  padding-right: calc(var(--cn-grid) * 4);

  /*Remove the default arrow*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
label:has(select) {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: calc(var(--cn-grid) * 2);
}

/* Add Chevronh */
label:has(select):after {
  content: "";
  --_size: calc(var(--cn-grid) * 1.5);
  width: var(--_size);
  height: var(--_size);
  background-color: var(--color-on-input);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  right: calc(var(--cn-grid) * 1.5);
  bottom: calc(var(--cn-grid) * 1.5);
  z-index: 1;
  pointer-events: none;
}

select option {
  background: var(--color-surface);
  color: var(--color-on-surface);
}

select:hover {
  color: var(--color-on-field-hover, var(--color-on-field));
  background: var(--color-field-hover, var(--color-field));
  border-bottom: 1px solid var(--color-border-hover, var(--color-border));
}

select:focus {
  outline: none;
  color: var(--cn-color-on-field-active);
  background: var(--color-field-focus);
  border-bottom: 1px solid var(--color-border-hover, var(--color-border));
}

select:disabled {
  opacity: 0.5;
  background: var(--cn-color-disabled);
}

select[data-error="true"] {
  background: var(--chroma-alert-field-tint, red);
  border-bottom: 1px solid var(--chroma-alert, blue);
  box-shadow: none;
}

select[data-error="true"]:focus {
  background: var(--cn-background-field-active, red);
  border-bottom: 1px solid var(--cn-border-color-field-active, blue);
}

/* Overrides for stat/number style selects */
label:has(select.number) {
  display: inline-flex;
  justify-content: space-between;
  gap: var(--cn-grind, 0.5em);
  align-items: center;
  width: 100%;
}
select.number {
  text-align: center;
  border-radius: var(--cn-border-radius);
  border-top: var(--cn-border);
}
