table
  border-collapse: collapse
  td, th
    padding: calc(var(--cn-grid))
    text-align: left
    font-size: var(--cn-font-size-small)
    vertical-align: top

main table
  th
    background: var(--cn-elevation-2)
  td
    border: solid 1px var(--cn-elevation-4)

main
  h1 + table,
  h2 + table,
  h3 + table,
  h4 + table,
  p + table
    margin-top: calc(var(--cn-line) * 2)