// At this point the tray only supports "medium" and "large" size screens. 
@import '../core/layout-breakpoints.sass'
@import '../typography/heading_4.sass'

.cn-tray
  ul
    li
      margin: 0 calc(-1 * var(--cn-gap))
      transition: background 0.3s ease-in-out
    li:hover
      background: hsla(var(--chroma-key-10-hsl), 0.11)
    li:active
      background: hsla(var(--chroma-key-10-hsl), 0.22)
    a
      padding: var(--cn-gap)
      color: var(--color-on-primary)
      text-decoration: none
      display: block
  h2, h3
    @include TypeHeading4
    margin: 0
    line-height: calc(var(--cn-grid-size) * 7)
    height: calc(var(--cn-grid-size) * 7)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis


/*
 * For the medium and large screens, the tray is visible on the right side of the screen,
 * when the document body contains a cn-app-menu-button with aria-expanded="true".
 */
.cn-tray
  transform: translateX(-380px)
  width: 300px
  background-color: var(--cn-elevation-1)
  position: fixed
  top: 0
  left: 80px
  height: 100dvh
  opacity: 0
  transition: transform 0.3s ease-in-out
  padding: var(--cn-grid-size) var(--cn-gap)
body:has(cn-app-menu-button[ariaexpanded="true"])
  .cn-app-tray
    transform: translateX(0)
    opacity: 1
    transition: transform 0.3s ease-in-out

@include media-query-md-and-up
  .cn-tray
    transform: translateX(0)
    opacity: 1
    &:empty
      display: none
  /* cn-app-menu-button
    display: none */
