// At this point the tray only supports "medium" and "large" size screens. 
@import '../core/layout-breakpoints.sass'
@import '../typography/heading_4.sass'
@import '../typography/ui.sass'

/* For phone and pad screens, the tray is only visible if the cn-tray-button has [aria-expanded=true] */
.cn-tray
  width: calc(100dvw - var(--cn-gap))
  height: 100dvh
  transform: translateX(-100%)
  position: fixed
  top: 0
  left: 0
  height: 100dvh
  padding: var(--cn-grid) var(--cn-gap)
  padding-left: calc(var(--cn-gap))
  z-index: var(--cn-z-index-tray, 1000)
  overflow-y: auto
  z-index: var(--z-index-tray)

// The rail is hidden on small screens, if the screen is wider than
// $breakpoint-small, the rail is displayed as a *fixed* column on the left
@include media-query-md-and-up
  .cn-tray
    padding-left: calc(var(--cn-gap) + var(--cn-rail-width))
    width: min(calc(var(--cn-tray-width) + var(--cn-rail-width)), calc(100dvw - var(--cn-gap)))

body:has(cn-tray-button[aria-expanded="true"]) .cn-tray
  transform: translateX(0)
  box-shadow: var(--shadow-elevation-1)
  background: var(--background-elevation-1)

/* For larger screens, tray is hidden when cn-tray-button has [aria-expanded=true] */
@include media-query-desktop
  .cn-tray
    opacity: 0
    &:empty
      display: none

  body:has(cn-tray-button[aria-expanded="true"]) .cn-tray
    opacity: 1
    transform: translateX(0)

.cn-tray
  ul
    li
      @include TypeUI()
      margin: 0 calc(-1 * var(--cn-gap))
      transition: background 0.3s ease-in-out
    li:hover
      background: hsla(var(--chroma-key-10-hsl), 0.11)
      a,
      cn-icon
        color: var(--color-link-hover)
    li:active
      background: hsla(var(--chroma-key-10-hsl), 0.22)
    a
      padding: var(--cn-gap)
      color: var(--color-link)
      text-decoration: none
      display: block
    cn-icon
      color: var(--color-heading-1)
      vertical-align: middle
      margin-right: var(--cn-grid)
  h2, h3
    @include TypeHeading4
    margin: 0
    line-height: calc(var(--cn-grid) * 7)
    height: calc(var(--cn-grid) * 7)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-weight: var(--cn-font-weight-heading-2)

.cn-tray > h2:first-child,
.cn-tray > h3:first-child,
.cn-tray > h4:first-child
  @include TypeHeading4
  font-weight: var(--cn-font-weight-heading-2)
  margin-top: 0
  padding-right: calc(var(--cn-gap) * 2)
  