/*
 * Base units, used for spacing and sizing.
 *
 * Prefixed with `cn-` to avoid conflicts with other libraries.
 */
:root {
  /* root units */
  --cn-grid: 0.5rem;
  --cn-gap: calc(var(--cn-grid) * 2);
  --cn-line: calc(var(--cn-grid) * 3);

  /* Button sizing */
  --cn-button-physical-size: calc(56 / 16 * 1rem);
  --cn-button-size-physical: var(--cn-button-physical-size);
  --cn-button-size: calc(38 / 16 * 1rem);
  --cn-navigation-button-size: calc(48 / 16 * 1rem);
}
