cn-dialog h1,
cn-dialog h2,
cn-dialog h3,
cn-dialog h4 {
  margin: 0;
  color: var(--color-on-dialog);
  align-self: center;
  margin: 0;
  font-family: var(--cn-font-family-headings);
  font-weight: var(--cn-font-weight-heading-4);
  font-size: var(--cn-font-size-heading-4);
  line-height: var(--cn-line-height-heading-4);
  letter-spacing: var(--cn-letter-spacing-heading-4);
}
cn-dialog cn-icon {
  color: var(--color-on-dialog);
}
