@mixin inputs-light
  --color-field: color-mix(in hsl, transparent, var(--chroma-surface-40) 11%)
  --color-field-focus: color-mix(in hsl, transparent, var(--chroma-surface-40) 22%)
  --color-on-field: var(--chroma-S-K)
  --color-on-field-focus: var(--chroma-S-K)
  --color-on-field-hover: var(--chroma-primary-80)
  --color-on-field-placeholder: color-mix(in hsl, transparent, var(--chroma-surface-70) 70%)

  --background-toggle-button: var(--chroma-surface-70)
  --background-toggle-button-off: var(--chroma-surface-50)
  --color-on-toggle-button: var(--chroma-surface-30)
  --color-on-toggle-button-off: var(--chroma-surface-30)
